* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #B0CE88,#4C763B);
}

.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
  border:5px solid #4C763B;
  background: linear-gradient(135deg, #4C763B, #FFFD8F);
}

.login-box h2 {
  margin-bottom: 25px;
  color: black;
  text-align: center;
  font-size: 29px;
}

.input-box {
  margin-bottom: 20px;

}

.input-box label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.login-div{
  text-align: center;
}
.login-btn {
  width: 80%;
  padding: 12px;
  background-color: #043915;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #4C763B;
}

.bottom-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.bottom-text a {
  color: #3498db;
  text-decoration: none;
}

.bottom-text a:hover {
  text-decoration: underline;
}

