* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.login{
      justify-content: center;
      font-family: Arial, sans-serif;
      background: linear-gradient(145deg, #4e73df, #1cc88a);
      height: 60vh;
      justify-content: center;
      align-items: center;
      width: 1000px;
      display: flex;
      min-width: 100px;
      min-height: 60vh;
      border-radius: 30px;
      box-shadow: 5px 5px 50px rgba(171, 125, 39, 0.875);
    }
    .left-heading{
      width:40%;
      /* display: flex; */
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 60px;
    }
    .left-heading h1{
      color: #fff;
      font-size: 45px;
      margin-top:0px;
    }
    .right-heading{
      width:60%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
.login-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  /* box-shadow: 5px 5px 50px rgba(171, 125, 39, 0.875); */
  width: 350px;
  border:1px solid #eef4b9;
  /* background: linear-gradient(135deg, #0b3d7e, #acec77); */
}

.login-box h2 {
  margin-bottom: 25px;
  color: black;
  text-align: center;
  font-size: 29px;
}

.input-box {
  margin-bottom: 20px;

}

.input-box label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #0f0101;
  border-radius: 20px;
  font-size: 14px;
}

.login-div{
  text-align: center;
}
.login-btn {
  width: 80%;
  padding: 12px;
  background: #3751c7;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background: #4e73df;
}

.bottom-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

.bottom-text a {
  color: #3498db;
  text-decoration: none;
}

.bottom-text a:hover {
  text-decoration: underline;
}

